a
{
	color:#000;
	text-decoration:none;
}
body
{
	font-family:Calibri,Verdana,Geneva, sans-serif;
	margin-top:50px;
}
#servis1 ,#servis2,#servis3
{
	width:742px;
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    color:#000;
    border: solid 1px #000000;
    margin:0;
}
.servisac
{
	width:742px;
    font-size: 16px;
    padding: 10px;
    background-color: #f9f9f9;
    color:#000;
    border: solid 1px #000000;
    margin:0;
}
 
#servis1 {
    display: none;
}
#servis2 {
    display: none;
}
#servis3 {
    display: none;
}
.beyaz
{
	background-color:#fff;
}