a
{
	color:#000;
	text-decoration:none;
}
body
{
	font-family:Calibri,Verdana,Geneva, sans-serif;
	margin-top:50px;
}
.roundbaslik
{
  margin-top:15px;
  text-align:left;
  background:#035;
  color:white;
  padding:7px;
  width: 750px;
}
#kutu1
{
	 background-color:#f9f9f9;
	  width: 757px;
      height:75px;
      border: 1px solid #000;
	  padding-top:15px;
	  padding-left:5px;
}
#kutu2
{
	 background-color:#f9f9f9;
	  width: 757px;
      height:175px;
      border: 1px solid #000;
	  padding-top:15px;
	  padding-left:5px;
}